main_old.pdf
main_old.tex

*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.xdv
*.idx
*.ilg
*.ind
*.lof
*.lot

out/

!main.tex
!main.pdf
!CV_Dmitry_Guminov.tex
!CV_Dmitry_Guminov.pdf